.wpg-mastodon-fa-lsf {
    font-size: 1.5em;
    vertical-align: -25%;
}

.fa-mastodon.wpg-mastodon-fa-color {
    color: #3088d4;
}

#wpg-login {
    &.large {
        .wpg-button {
            .svg-inline--fa {
                position: absolute;
                font-size: 36px;
                left: 8px;
                top: 50%;
                margin-top: -16px;
            }
        }
    }
    &:not(.large) {
        .wpg-button {
            .svg-inline--fa {
                margin-left: -3px;
            }
        }
    }
}

.gimastodon.ui-widget {
	label,
	legend {
		font-size: 13px;
		font-weight: normal;
		display: inline;
	}
	fieldset {
		margin: 15px;
		border: none;
	}
	input[type=text] {
		width: 100%;
		padding: 4px;
		font-size: 16px;
		border-radius: 3px;
		display: block;
	}
	li {
		list-style: none;
		padding: 2px 0;
	}
}

.ui-state-error {
	&,
	.ui-widget-content &,
	.ui-widget-header & {
		border: 1px solid #cd0a0a;
		background: #fef1ec;
		color: #cd0a0a;
		a {
			color: #cd0a0a;
		}
	}
	#{&}-text {
		&,
		.ui-widget-content &,
		.ui-widget-header & {
			color: #cd0a0a;
		}
	}
}
